@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?sp3hjy');
    src: url('./icomoon.eot?sp3hjy#iefix') format('embedded-opentype'), url('./icomoon.ttf?sp3hjy') format('truetype'), url('./icomoon.woff?sp3hjy') format('woff'), url('./icomoon.svg?sp3hjy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bin:before {
    content: "\e9ac";
}