.cursor-pointer {
    cursor: pointer;
}

.container-list-stories {
    margin-top: 210px;
    list-style: none;
}

li.item-story {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

li.item-story .left-side, li.item-story .right-side {
    display: flex;
}

.left-side .author-text {
    color: #999;
}

.left-side .title-text {
    font-size: 17px;
}

.item-story .container-btn-delete {
    width: 100px;
    height: 25px;
    text-align: center;
}

.container-btn-delete .btn-delete {
    display: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete span {
    color: rgb(240, 80, 80);
    font-size: 20px;
}

li.item-story:hover {
    background-color: #fafafa;
}

li.item-story:hover .btn-delete {
    display: inline-block;
}