<div class="container-list-stories">
    <ul class="list-stories">
        <li class="item-story" (click)="goToUrl(story.story_url,story.url)" *ngFor="let story of stories|filterStories"
            [ngClass]="{'cursor-pointer':(story.story_url!=null||story.url!=null)}">
            <div class="left-side">
                <span class="title-text">{{story.story_title? story.story_title: story.title}} &nbsp;</span>
                <span class="author-text"> - {{story.author}} - </span>
            </div>
            <div class="right-side">
                <div>{{story.created_at|formatDate}}</div>
                <div class="container-btn-delete">
                    <a href="#" class="btn-delete" (click)="deleteStory(story._id)">
                        <span class="icon-bin"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>